{% extends "base.html" %}
{% block content %}
  <h1>Alerts</h1>
  <table border="1" cellpadding="5">
    <tr><th>ID</th><th>Person ID</th><th>Camera ID</th><th>Time</th><th>Ack</th></tr>
    {% for a in alerts %}
      <tr>
        <td>{{a.id}}</td><td>{{a.person_id}}</td><td>{{a.camera_id}}</td>
        <td>{{a.triggered_at}}</td>
        <td>
          {% if a.acknowledged %}
            ✓
          {% else %}
            <a href="{{ url_for('ack_alert', alert_id=a.id) }}">Acknowledge</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
